<button (click)="animate()">Animations</button>
<button (click)="boxState = 'special'">Set special state</button>
<button (click)="visible = !visible">Toggle Visibility</button>

<hr/>

<div class="wrap">
    <app-animate></app-animate>
<!--    <div-->
<!--            class="box"-->
<!--            *ngIf="visible"-->
<!--            [@box]="boxState"-->
<!--            (@box.start)="animationStarted($event)"-->
<!--            (@box.start)="animationDone($event)"-->
<!--    >-->
<!--        <h4>-->
<!--            {{ boxState | uppercase }}-->
<!--        </h4>-->
<!--    </div>-->
</div>
