<div class="container">
    <h1>Список заданий на сегодня</h1>
    <app-task-form
            (onAdd)="addTask($event)"
    ></app-task-form>
    <div class="card">
        <button class="btn" (click)="filterTask(null)">Показать все</button>
        <button class="btn" (click)="filterTask(true)">Показать выполненные</button>
        <button class="btn" (click)="filterTask(false)">Показать не выполненные</button>
        <app-task
                *ngFor="let task of filteredItems"
                [task]="task"
                (onRemove)="removeTask($event)"
        ></app-task>
    </div>
</div>


