<div class="container">
  <h1>Angular Components</h1>
  <h2>Sub-header</h2>
  <app-post-form
    (onAdd)="updatePosts($event)"
  ></app-post-form>

  <hr />

  <app-post
    *ngFor="let myPost of posts"
    [myPost]="myPost"
    (onRemove)="removePost($event)"
  >
    <div #info>
      <small
              *ngIf="myPost.text.length > 10; else short"
      >Пост длинный</small>
      <ng-template #short>
        <small>Пост короткий</small>
      </ng-template>
    </div>
  </app-post>

</div>


